// COLORS
$theme-color: #665dfe;
$text-color: #495057;
$text-light-color: #495057;
$danger-color: #ff337c;
$bg-light-color: #f5f6fa;
$inactive-color: #aea9fe;

$white-color: #FFF;
$light-color: #ADB5BD;

// SIZING
$full-screen-height: 100vh;
$navigation-width: 70px;
