// COLORS
$theme-color: #665dfe;
$text-color: #495057;
$text-light-color: #495057;
$danger-color: #ff337c;
$success-color: #44a675;
$bg-light-color: #f5f6fa;
$border-light-color: #e5e9f2;
$inactive-color: #aea9fe;
$message-text-color: #8296b0;

$white-color: #fff;
$light-color: #adb5bd;
$light-color-2: #bec4cb;

// SIZING
$full-screen-height: 100vh;
$navigation-width: 70px;
