// COLORS
$theme-color: #7e48f5;
$text-color: #495057;
$text-light-color: #495057;
$danger-color: #ff337c;
$dark-color: #0b0b11;
$success-color: #44a675;
$primary-color: #4385f5;
$primary-color-2: #4d95f5;
$bg-light-color: #f5f6fa;
$bg-light-color-2: #f8f9fa;
$border-light-color: #e5e9f2;
$border-light-color-2: #d7d9f3;
$inactive-color: #aea9fe;
$message-text-color: #8296b0;

$white-color: #fff;
$light-color: #adb5bd;
$light-color-2: #bec4cb;
$light-color-3: #858a8f;
$light-color-4: #bec4ca;
$light-color-5: #b2b5bd;
$light-color-6: #b8bfc6;
$light-color-7: #e4e6eb;

// GRADIENT
$theme-gradient-down: linear-gradient(
  to bottom,
  #3294ff,
  #3389ff,
  #3f7cff,
  #516eff,
  #665dfe
);
// SIZING
$full-screen-height: 100vh;
$navigation-width: 70px;
$app-header-height: 70px;
