body {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.title {
  font-weight: 500;
  font-size: 2rem;
  color: $text-color;
}

.text-muted {
  color: #adb5bd !important;
}

.text-accept {
  font-size: 12px;
  font-weight: 500;
  color: $primary-color-2;
}
