.h-100 {
  height: 100% !important;
}

.h-max {
  height: $full-screen-height;
}

@for $i from 1 through 4 {
  .w-#{100 / $i} {
    width: (100% / $i) !important;
  }
}

/**
 * Brands
 */
.brand-sm {
  width: 40px !important;
  height: 40px !important;
}

/**
 * Buttons
 */
.social-opt-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: $text-color;

  background-color: #fff;

  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

  padding: 2rem 4rem !important;

  transition: all 0.3s ease 0s;
  cursor: pointer;

  outline: none;
}

/**
 * List
 */
.list-style-none {
  list-style: none !important;
}

/**
 * Display
 */
.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

/**
 * Margins
 */
.mt-sm {
  margin-top: 5px !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

@for $n from 0 through 10 {
  .mt-#{$n} {
    margin-top: ($n * 10px) !important;
  }
}

.mr-sm {
  margin-right: 5px !important;
}

@for $n from 0 through 10 {
  .mr-#{$n} {
    margin-right: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .mb-#{$n} {
    margin-bottom: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .ml-#{$n} {
    margin-left: ($n * 10px) !important;
  }
}

/**
 * Paddings
 */
.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 20px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@for $n from 0 through 10 {
  .pt-#{$n} {
    padding-top: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pr-#{$n} {
    padding-right: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pb-#{$n} {
    padding-bottom: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pl-#{$n} {
    padding-left: ($n * 10px) !important;
  }
}

/**
* Borders
*/
.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

/*
* Backgrounds
*/
.bg-transparent {
  background: transparent !important;
}

.bg-white {
  background: $white-color !important;
}

.bg-light {
  background: $bg-light-color !important;
}

.bg-theme {
  background: $theme-color !important;
}

.bg-danger {
  background: $danger-color !important;
}

/*
* Typography
*/
.line-height-1 {
  line-height: 1 !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: $white-color !important;
}

.text-danger {
  color: $danger-color !important;
}

.text-light {
  color: $light-color-2 !important;
}

.text-small {
  font-size: 1.3rem;
}

.text-medium {
  font-size: 2rem;
  font-weight: 400;
}

.text-dec-none {
  text-decoration: none;
}

/*
* Icons
*/
.icon-danger {
  fill: $danger-color !important;
}

.icon-svg {
  fill: #000;

  &--1x {
    @include svg-icon(15px, $light-color-2);
  }

  &--2x {
    @include svg-icon(20px, $message-text-color);
  }

  &--white {
    fill: $white-color !important;
  }
}

/* Borders */
.border-light {
  border: 1px solid $light-color-2;
}

.border-bottom {
  border-bottom: 1px solid $border-light-color;
}

/*
*
*/
.cursor-pointer {
  cursor: pointer !important;
}

.no-resize {
  resize: none !important;
}
