.h-100 {
  height: 100% !important;
}

.h-max {
  height: $full-screen-height;
}

.layout {
  height: 100%;
  display: flex;
}

@for $i from 0 through 4 {
  .w-#{100 - ($i * 25)} {
    width: (100% - ($i * 25)) !important;
  }
}

/**
 * Brands
 */
.brand-sm {
  width: 25px !important;
  height: 25px !important;
}

/**
 * Buttons
 */
a.btn {
  text-decoration: none;
}

.btn {
  display: inline-block;

  font-weight: 400;
  color: $text-color;

  text-align: center;
  vertical-align: middle;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: transparent;

  border: 1px solid transparent;

  padding: 1rem;

  font-size: 1.2rem;
  line-height: 1;
  border-radius: 5px;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
  cursor: pointer;
}

.btn-submit {
  background: $theme-color;
  color: $white-color;
}

.btn-danger {
  background: $danger-color;
  color: $white-color;
}

.btn-activate {
  background: $theme-color;
  color: $white-color;
  font-size: 22px;
}

.social-opt-btn {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 500;
  color: $text-color;

  background-color: #fff;

  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);

  padding: 1rem 2rem !important;

  transition: all 0.3s ease 0s;
  cursor: pointer;

  outline: none;

  img {
    width: 20px;
    height: 20px;
  }
}

/**
 * List
 */
.list-style-none {
  list-style: none !important;
}

/**
 * Display
 */
.d-none {
  display: none !important;
}


.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

@for $i from 1 through 10 {
  .flex-#{$i * 10} {
    flex: $i * 10%;
  }
}

.align-items-center {
  align-items: center !important;
}

.align-self-end {
  align-self: flex-end !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-center {
  justify-content: center !important;
}

/**
 * Margins
 */
.mt-sm {
  margin-top: 5px !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.mx-sm-reverse {
  margin-left: -10px;
  margin-right: -10px;
}

@for $n from 0 through 10 {
  .mt-#{$n} {
    margin-top: ($n * 10px) !important;
  }
}

.mr-sm {
  margin-right: 5px !important;
}

@for $n from 0 through 10 {
  .mr-#{$n} {
    margin-right: ($n * 10px) !important;
  }
}

.mb-sm {
  margin-bottom: 5px !important;
}

@for $n from 0 through 10 {
  .mb-#{$n} {
    margin-bottom: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .ml-#{$n} {
    margin-left: ($n * 10px) !important;
  }
}

/**
 * Paddings
 */
.p-0 {
  padding: 0 !important;
}

.p-2 {
  padding: 20px !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.px-sm {
  padding-left: 10px;
  padding-right: 10px;
}

.px-2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@for $n from 0 through 10 {
  .pt-#{$n} {
    padding-top: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pr-#{$n} {
    padding-right: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pb-#{$n} {
    padding-bottom: ($n * 10px) !important;
  }
}

@for $n from 0 through 10 {
  .pl-#{$n} {
    padding-left: ($n * 10px) !important;
  }
}

/**
* Borders
*/
.border-left-0 {
  border-left: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

/*
* Backgrounds
*/
.bg-transparent {
  background: transparent !important;
}

.bg-white {
  background: $white-color !important;
}

.bg-light {
  background: $bg-light-color !important;
}

.bg-light-2 {
  background: $bg-light-color-2 !important;
}

.bg-theme {
  background: $theme-color !important;
}

.bg-danger {
  background: $danger-color !important;
}

/*
* Typography
*/
.fs-sm {
  font-size: 1.1rem;
}

.line-height-1 {
  line-height: 1 !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-white {
  color: $white-color !important;
}

.text-danger {
  color: $danger-color !important;
}

.text-success {
  color: $success-color !important;
}

.text-light {
  color: $light-color-5 !important;
}

.text-small {
  font-size: 1.3rem;
}

.text-lg {
  font-size: 4rem;
}

.text-medium {
  font-size: 2rem;
  font-weight: 400;
}

.text-dec-none {
  text-decoration: none;
}

/*
* Icons
*/
.icon-danger {
  fill: $danger-color !important;
}

.icon-svg {
  fill: #000;

  &--1x {
    @include svg-icon(15px, $light-color-2);
  }

  &--2x {
    @include svg-icon(20px, $message-text-color);
  }

  &--white {
    fill: $white-color !important;
  }
}

/* Borders */
.border-light {
  border: 1px solid $light-color-2;
}

.border-bottom {
  border-bottom: 1px solid $border-light-color;
}

/**
 * Positions
 */
.position-relative {
  position: relative;
}

/*
*
*/
.cursor-pointer {
  cursor: pointer !important;
}

.no-resize {
  resize: none !important;
}

.title-small {
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.text-a {
  font-size: 1.4rem;
}
