.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 1s;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 1s;
  opacity: 0;
}

/* start slide up */
.slide-up-enter {
  transform: translateY(-90%) !important;
  opacity: 0;
}

.slide-up-enter-active {
  transition: all .5s;
}

.slide-up-leave {
}

.slide-up-leave-active {
  transition: all .5s;
  transform: translateY(-90%) !important;
  opacity: 0;
}
/* end slide up */

/* start slide down */
.slide-down-enter {
  transform: translateY(90%) !important;
  opacity: 0;
}

.slide-down-enter-active {
  transition: all .5s;
}

.slide-down-leave {
}

.slide-down-leave-active {
  transition: all .5s;
  transform: translateY(90%) !important;
  opacity: 0;
}
/* end slide down */

/* start slide right */
.slide-right-enter {
  transform: translateX(100%);
}

.slide-right-enter-active {
  transition: transform .5s;
}

.slide-right-leave {
}

.slide-right-leave-active {
  transition: transform .5s;
  transform: translateX(100%) !important;
}
/* end slide right */

/* start flex shrink */
.flex-shrink-enter {
  flex: 0;
}

.flex-shrink-enter-active {
  transition: flex .5s;
}

.flex-shrink-leave {

}

.flex-shrink-leave-active {
  transition: flex .5s;
  flex: 0;
}
/* end flex shrink */

