button {
  outline: none;
}

.dropdown {
  position: relative;

  &-button:not(.no-style) {
    display: inline-block;

    text-align: center;
    font-size: 1.5rem;
    vertical-align: middle;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;

    padding: 0.75rem 1.5rem;

    background: transparent;
    color: $text-color;

    cursor: pointer;
  }

  &-menu {
    display: block;

    min-width: 15rem;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    text-align: left;

    margin: 0.5rem 0;

    background: $white-color;

    position: absolute;
    top: 100%;
    left: 0;

    z-index: 1000;

    &:not(.show) {
      display: none;
    }
  }

  &-item {
    width: 100%;

    display: block;

    color: $text-light-color;
    text-decoration: none;
    white-space: nowrap;

    border: 0;
    padding: 0.5rem 1.5rem;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

/**
* Forms
*/
.form-control {
  display: block;

  width: 100%;
  height: 35px;

  padding: 0.375rem 1rem;

  font-size: 12px;
  font-weight: 400;
  color: $text-color;

  background-color: $white-color;
  background-clip: padding-box;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
  display: flex;

  input {
    flex: 1;

    &:focus {
      outline: none;
    }
  }
}

.input-group-append {
  display: flex;

  margin-left: -5px;
}

.input-group-text {
  display: flex;
  align-items: center;

  padding: 0.375rem 0.75rem;
  margin-bottom: 0;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;
  text-align: center;
  white-space: nowrap;

  background-color: #e9ecef;

  border: 1px solid #ced4da;
  border-radius: 0 5px 5px 0;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: $app-header-height;

  background: $white-color;
  border-bottom: 1px solid $border-light-color;

  padding: 0 15px;

  p {
    color: $light-color-5;
    font-size: 1.3rem;
  }
}

.section-body {
  padding: 20px;
}

.tt-card {
  border-radius: 5px;
  border: 1px solid $border-light-color;

  &-header {
    padding: 15px;

    border-bottom: 1px solid $border-light-color;

    background: $bg-light-color-2;
  }

  &-title {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &-sub-title {
    color: $light-color-6;
    font-size: 1.2rem;
  }

  &-body {
    padding: 20px 15px;
  }

  &-footer {
    padding: 15px;

    border-top: 1px solid $border-light-color;

    background: $bg-light-color-2;
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;

  margin-left: -10px;
  margin-right: -10px;
}

.form-row + .form-row {
  margin-top: 10px;
}

.form-group label {
  font-size: 1.4rem;
  font-weight: 400;
  color: $text-color;
}

/**
 * Grid system
 */
@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 $i * (100 / 12) * 1%;
  }
}

[class*='col-'] {
  padding-left: 10px;
  padding-right: 10px;
}
