.contact {
  flex: 0 0 350px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    color: $text-color;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;

    border-bottom: 1px solid $border-light-color;

    padding: 0 20px;
  }
}

.profile {
  padding: 20px 0;
  border-bottom: 1px solid $border-light-color;

  &-avatar {
    width: 100%;

    line-height: 1;

    text-align: center;

    img {
      width: 150px;
      height: 150px;

      border-radius: 50%;

      object-fit: cover;
    }
  }

  &-text {
    line-height: 1;
    text-align: center;

    margin: 20px 0;
  }
}
