.contact {
  flex: 0 0 350px;

  overflow-y: auto;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 70px;

    color: $text-color;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1;

    border-bottom: 1px solid $border-light-color;

    padding: 0 20px;
  }
}

.profile {
  padding: 20px 0;
  border-bottom: 1px solid $border-light-color;

  &-avatar {
    width: 100%;

    line-height: 1;

    text-align: center;

    img {
      width: 150px;
      height: 150px;

      border-radius: 50%;

      object-fit: cover;
    }
  }

  &-text {
    line-height: 1;
    text-align: center;

    margin-top: 20px;

    & > * {
      line-height: inherit;
    }
  }

  &-actions {
    text-align: center;

    margin-top: 2rem;

    &__item {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      margin: 0 10px;

      width: 40px;
      height: 40px;

      border-radius: 50%;
    }
  }
}

.user-info {
  padding: 20px;

  border-bottom: 1px solid $border-light-color;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    line-height: 1;

    & > h5 {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}

.user-info__content {
  line-height: 1;

  margin-top: 20px;
}

.info-label {
  color: $light-color-4;
  font-weight: 400;
  font-size: 1.2rem;

  margin-bottom: 5px;
}

.info-text {
  color: $text-color;
  font-size: 1.4rem;
}

.shared-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin-top: 20px;

  &__item {
    display: block;

    flex: 0 0 95px;
    height: 95px;

    img {
      width: 100%;
      height: 100%;

      border-radius: 5px;

      object-fit: cover;
    }
  }
}
