@import '../base/base';

.login {
  background-image: linear-gradient(
    to left bottom,
    #72cfde,
    #50c7f2,
    #52bbff,
    #7fa9ff,
    #b790ff,
    #c67ff9,
    #d66aef,
    #e750e0,
    #d34be5,
    #bb48eb,
    #a048f0,
    #7e48f5
  );
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;

  &-left {
    flex: 0 0 50%;

    background-image: url('./../../assets/img/bg/login-bg-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-right {
    flex: 1;

    height: 100%;

    background-image: linear-gradient(
      to bottom,
      #ffffff,
      #fdfefd,
      #fcfcfc,
      #fafbfa,
      #f9f9f9
    );
    //background-image: url('./../../assets/img/bg/bg-mobile-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      height: 90% !important;

      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }
  }

  &-form {
    &__icon {
      position: absolute;
      bottom: 0;
      left: 0;

      svg {
        transition: fill 0.5s;
      }
    }

    &__form {
      .form-group {
        position: relative;
        border-bottom: 3px solid transparent;
        transition: border-color 0.5s;

        &.active {
          border-color: $theme-color;
        }

        label {
          position: absolute;
          left: 32px;
          top: 50%;

          color: $dark-color;
          font-size: 17px;
          line-height: 1;

          transition: all 0.5s;
          transform: translateY(-50%);

          &.active {
            font-size: 13px;

            top: -5px;
            left: 0;
            transform: translateY(-100%);
          }
        }
      }

      @include mobile {
        width: 70% !important;
      }
    }
  }

  &-input {
    border-radius: 0;

    padding: 1.5rem 2.5rem;

    font-size: 1.7rem;
    color: $dark-color;

    border: none;
    background: none;

    &:focus {
      outline: none;
    }
  }
}

.err-login {
  border-radius: 3px;
}
