@import './../abstract/variables';

.signup {
  &-left {
    flex: 0 0 60%;

    background: $white-color;
  }

  &-title {
    font-size: 1.7rem;
    font-weight: 500;
  }

  &-right {
    flex: 1;

    background-image: url(./../../assets/img/bg/signup-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.signup-form {
  &-form {
    input {
      font-size: 1.2rem;
      padding: 1.75rem 1rem;

      &::-webkit-input-placeholder {
        color: $light-color-2;
      }
    }
  }
}

.other-opt {
  height: 1px;
  background: $border-light-color;

  span {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    padding: 0 20px;

    background: $white-color;

    color: $light-color;
    font-size: 1.8rem;
    line-height: 1;
  }
}

.link-to-signin {
  position: absolute;
  top: 20px;
  right: 20px;

  z-index: 100;

  font-size: 1.2rem;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}
