@import './../abstract/variables';
@import './../mixins/mobile';

.signup {
  &-outer {
    @include mobile {
      background-image: url(./../../assets/img/bg/login-bg-8.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &-left {
    flex: 0 0 60%;

    height: 100%;

    background-color: $white-color;
    background-image: url(./../../assets/img/bg/signup-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include mobile {
      flex: 1;

      height: 90%;

      background-size: 100% 85%;
      background-position: bottom;

      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      margin-top: auto;
    }
  }

  &-title {
    font-size: 1.7rem;
    font-weight: 500;
  }

  &-right {
    flex: 1;

    background-image: url(./../../assets/img/bg/login-bg-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @include mobile {
      display: none;
    }
  }
}

.signup-form {
  &-form {
    input {
      font-size: 1.2rem;
      padding: 1.75rem 1rem;

      &::-webkit-input-placeholder {
        color: $light-color-2;
      }
    }
  }
}

.other-opt {
  height: 1px;
  //background: $border-light-color;

  span {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    padding: 5px;

    background: rgba($theme-color, .3);

    color: $white-color;
    font-size: 1.5rem;
    line-height: 1;
  }
}

.link-to-signin {
  position: absolute;
  top: 20px;
  right: 20px;

  z-index: 100;

  font-size: 1.2rem;

  a {
    text-decoration: none;
    color: $primary-color;
  }
}
