@import './../../abstract/variables';
@import './../../abstract/mixins';
@import './../../base/utilities';
@import './../../mixins/mobile';

.profile-setting {
  flex: 1;

  &-body {
    @include mobile {
      height: auto;
    }
  }
}

.privacy-item + .privacy-item {
  margin-top: 20px;
}

.privacy-item .dropdown .dropdown-menu {
  font-size: 1.7rem;

  a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & > * {
    font-size: inherit;
  }
}
