.profile-sidebar {
  flex: 0 0 420px;
  border-right: 1px solid $border-light-color;
}

.profile-side-body {
  height: calc(100vh - #{$app-header-height});
  padding: 20px 15px;

  overflow-y: auto;

  @include mobile {
    height: auto;
  }
}

.profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 1px solid $border-light-color;
  border-radius: 5px;
  background: url(../../assets/img/bg/bg-picture.png) no-repeat;
  background-size: cover;

  padding: 20px 0;

  .picture-holder {
    img {
      width: 120px;
      height: 120px;

      border-radius: 50%;

      object-fit: cover;
    }
  }
}

.upload-profile-pic {
  position: absolute;
  top: 15px;
  right: 15px;

  background: $theme-color;

  border: none;
  border-radius: 5px;

  line-height: 1;
  font-size: 1.2rem;
  color: $white-color;

  padding: 5px 7px;
}

.personal-info {
  border: 1px solid $border-light-color;
  border-radius: 5px;

  background: $white-color;

  &__left {
    flex: 0 0 80%;
  }

  &__right {
    flex: 1;
  }

  &__item + &__item {
    border-top: 1px solid $border-light-color;
  }

  &__item {
    padding: 15px 20px;
  }
}
